<div class="siguenosEnRedes">
    <h2>Síguenos en nuestras redes!</h2>
    <div class="logosRedes">
        <img src="./Imagenes/Instagrama-Icon.png" alt="">
        <img src="./Imagenes/Facebook-Icon.png" alt="">
        <img src="./Imagenes/Youtube-Icon.svg" alt="">
    </div>
</div>
<div class="footer">
    <div class="contactos">
        <h2>CONTACTO</h2>
        <div class="contacto1">
            <img src="" alt="">
            <h4>WHATSAPP</h4>
            <a href="">+591 70325449</a>
        </div>
        <div class="contacto1">
            <img src="" alt="">
            <h4>CORREO ELECTRONICO</h4>
            <a href="">@damabrava.com</a>
        </div>
        <div class="contacto1">
            <img src="" alt="">
            <h4>FACEBOOK</h4>
            <a href="">@Damabrava</a>
        </div>
        <div class="contacto1">
            <img src="" alt="">
            <h4>INSTAGRAM</h4>
            <a href="">@damabrava_bolivia</a>
        </div>
        <div class="contacto1">
            <img src="" alt="">
            <h4>YOUTUBE</h4>
            <a href="">@damabrava</a>
        </div>
    </div>
    <div class="direccion">
        <h2>DIRECION</h2>
        <H4>Planta: Plazuela Bolivia libre #2 Sucre, Bolivia</H4>
    </div>
</div>
</body>
</html>