
<div class="bandera">
    <div class="rojo color"></div>
    <div class="amarillo color"></div>
    <div class="verde color"></div>
</div>
<div class="contactos seccion">
    <div class="redesSociales">
        <h1>CONTACTO</h1>
        <div class="red">
            <img src="./img/img-iconos/Icon-facebook.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>FACEBOOK</h1>
                <a href="https://www.facebook.com/ajiycondimentossucre" target="_blank">@Damabrava</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-youtube.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>YOUTUBE</h1>
                <a href="https://www.youtube.com/@damabrava7699" target="_blank">@damabrava</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-instagram.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>INSTAGRAM</h1>
                <a href="https://www.instagram.com/damabrava_bolivia?igsh=MXJ3OGFzcHRlYzEycA==" target="_blank">@damabrava</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-gmail.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>CORREO ELECTRONICO</h1>
                <a href="mailto:pedidos@damabrava.com?subject=Pedido&body=Hola,%20quisiera%20hacer%20un%20pedido." target="_blank">damabrava@gmail.com</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-Whatsapp.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>WHATSAPP</h1>
                <a href="https://wa.link/msllix" target="_blank">+59170325449</a>
            </div>
        </div>
    </div> 
    <div class="direccion">
        <h1>DIRECCIÓN</h1>
        <p>Planta plazuela Bolivia libre #2, Sucre Bolivia</p>
        <a href="https://maps.app.goo.gl/5sfU8VYDEQqu9AnM7" class="btn-page-largo-white" target="_blank">Ir a google maps</a>
    </div>
</div>
<script src="./js/index.js" ></script>
<script src="./js/productos.js" ></script>
<script src="./js/adm.js" ></script>
</body>
</html>