
<div class="bandera">
    <div class="rojo color"></div>
    <div class="amarillo color"></div>
    <div class="verde color"></div>
</div>
<div class="contactos seccion">
    <div class="redesSociales">
        <h1>CONTACTO</h1>
        <div class="red">
            <img src="./img/img-iconos/Icon-facebook.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>FACEBOOK</h1>
                <a href="https://www.facebook.com/ajiycondimentossucre">@Damabrava</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-youtube.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>YOUTUBE</h1>
                <a href="https://www.youtube.com/@damabrava7699">@damabrava</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-instagram.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>INSTAGRAM</h1>
                <a href="">@damabrava</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-gmail.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>CORREO ELECTRONICO</h1>
                <a href="">damabrava@gmail.com</a>
            </div>
        </div>
        <div class="red">
            <img src="./img/img-iconos/Icon-Whatsapp.webp" alt="" class="logoRedes">
            <div class="textoRedes">
                <h1>WHATSAPP</h1>
                <a href="https://wa.link/msllix">+59170325449</a>
            </div>
        </div>
    </div> 
    <div class="direccion">
        <h1>DIRECCIÓN</h1>
        <p>Planta plazuela Bolivia libre #2, Sucre Bolivia</p>
        <button class="btn-page-largo">Ir a google maps</button>
    </div>
</div>
<script src="./js/index.js" ></script>
<script src="./js/productos.js" ></script>
<script src="./js/adm.js" ></script>
</body>
</html>