<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damabrava</title>
    <link rel="stylesheet" href="./Estilos/estilos_contacto.css">
    <link rel="stylesheet" href="./Estilos/estilos_inicio.css">
    <link rel="stylesheet" href="./Estilos/estilos_navbar.css">
    <link rel="stylesheet" href="./Estilos/estilos_nosotros.css">
    <link rel="stylesheet" href="./Estilos/estilos_productos.css">
    <link rel="stylesheet" href="./Estilos/estilos_recetas.css">
    <link rel="stylesheet" href="./Estilos/estilos_login.css">
    <link rel="stylesheet" href="./Estilos/estilos_adm.css">
</head>
<body>
    <div class="whatsapp"></div>
        <a href="https://wa.link/msllix" class="botonWhatsapp">
            <img src="./Imagenes2/imgIconos/Icon-Whatsapp.webp" alt="">
        </a>
    </div>
    <div class="barraNavegacion">
        <div class="nombrelogo">
            <img src="./Imagenes2/imgInicio/Logo Dama Brava2.webp" alt="" class="logoEmpresa">
            <h1>damabrava</h1>
        </div>
        <div class="menu mostrar">
            <a href="/inicio" class="link">Inicio</a>
            <a href="/productos" class="link">Productos</a>
            <a href="/recetas" class="link">Recetas</a>
            <a href="/nosotros" class="link">Nosotros</a>
            <div class="botones-inicio">
                <button class="botonContacto botones" id="hh" onclick="contacto()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                  </svg>CONTACTO</button>
                <a href="/login" class="botones"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>ACCEDER</a>
            </div>
            
        </div>
        <button class="botonMenu" onclick="menu()">
            <img class="botonImagen" src="./Imagenes2/imgIconos/menu_close.webp" alt="">
        </button>
    </div>
    

    