<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Damabrava</title>
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/inicio.css">
    <link rel="stylesheet" href="./css/productos.css">
    <link rel="stylesheet" href="./css/recetas.css">
    <link rel="stylesheet" href="./css/nosotros.css">
    <link rel="stylesheet" href="./css/contacto.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/adm.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="btn-whatsapp">
        <a href="https://wa.link/msllix">
            <img src="./img/img-iconos/Icon-Whatsapp.webp" alt="">
        </a>
    </div>
    <div class="nav-bar" id="nav">
        <div class="nombre-logo">
            <img src="./img/img-otros/IMG_0272.PNG" alt="" class="logoEmpresa">
            <h1>damabrava</h1>
        </div>
        <div class="menu">
            <div class="nav-links">
                <a href="/inicio" class="link">Inicio</a>
                <a href="/productos" class="link">Productos</a>
                <a href="/recetas" class="link">Recetas</a>
                <a href="/nosotros" class="link">Nosotros</a>
            </div>
            <div class="botones">
                <a class="btn-page-corto" href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>Acceder</a>
            </div>
        </div>
        <button class="btn-menu" onclick="menu()">
            <img src="./img/img-iconos/menu_close.webp" alt="">
        </button>
    </div>
    <script src="./js/index.js"></script>
    

    