<%- include("./Partials/header.ejs") %>
<div class="db-administrador seccion" id="administrador">
    <!-----------------------------SECCION PRODUCTOS DB-->
    <div class="db-productos">
        <h1 class="titulo-seccion">Productos <span>damabrava</span></h1>
        <div class="info-productos">
            <div class="buscador">
                <input type="text" id="searchInput" placeholder="Buscar">
                <button class="btn-page-largo-red" onclick="toggleVisibility2('show')"><span class="texto-grande">+ Nuevo producto</span>
                    <span class="texto-pequeño">+</span>
                </button>
            </div>
            <div class="titulos-consulta">
                <p class="tituloNombre">Nombre</p>
                <p class="tituloPrecio">Precio</p>
                <p class="tituloGramaje">Gramaje</p>
                <p class="tituloAcciones">Imagen</p>
                <p class="tituloAcciones">Acciones</p>
            </div>
            <div id="productList"></div>
            <form id="productForm" class="fade-element" onsubmit="event.preventDefault(); agregarProducto(nombre.value, precio.value, gramaje.value, imagen.files[0]);">
                <div class="titulo">
                    <h1 class="titulo-agregar-producto">Producto</h1>
                    <button onclick="toggleVisibility2('hide')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                      </svg>
                    </button>
                </div>
                <input type="text" id="nombre" placeholder="Nombre" required oninput="this.value = this.value.toUpperCase();">
                <input type="number" id="precio" placeholder="Precio" step="0.01" required>
                <input type="number" id="gramaje" placeholder="Gramaje" required step="0.01" required>
                <h3>Imagen: <input id="imagen" type="file" accept="image/*" required></h3>
                <input type="hidden" id="editarId">
                <button type="submit" id="agregarBtn" class="btn-page-largo-red">+ Agregar</button>
                <div class="botones">
                    <button type="button" id="actualizarBtn" class="btn-page-corto-red" onclick="actualizarProducto()" style="display:none;" class="boton">Actualizar</button>
                    <button type="button" id="cancelarEdicionBtn" class="btn-page-corto-red" onclick="resetForm()" style="display:none;" class="boton">Cancelar</button>
                </div>
                <div class="loadingScreen3">
                    <img src="./img/img-iconos/21-18-05-265_512.webp" alt="">
                </div>
            </form>
        </div>
    </div>
    <!-----------------------------SECCION RECETAS DB-->
    <div class="db-recetas">
        <h1 class="titulo-seccion">Recetas <span>damabrava</span></h1>
        <div class="info-recetas">
            <div class="buscador">
                <input type="text" class="buscar-producto-adm" id="searchInput" placeholder="Buscar producto...">
                <button class="btn-page-largo-red" onclick="toggleVisibility('show')"><span class="texto-grande">+ Nueva receta</span>
                    <span class="texto-pequeño">+</span>
                </button>
            </div>
            <div class="titulos-consulta">
                <p>Nombre</p>
                <p>Descripción</p>
                <p>Imagen</p>
                <p>link Url</p>
                <p>Acciones</p>
            </div>
            <div id="recetaList">
            </div>
            <form id="recetaForm" class="fade-element" onsubmit="event.preventDefault(); agregarReceta(nombreReceta.value, descripcion.value, linkReceta.value, imagenReceta.files[0]);">
                <div class="titulo">
                    <h1 class="titulo-agregar-receta">Receta</h1>
                    <button onclick="toggleVisibility('hide')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                      </svg>
                    </button>
                </div>
                <input type="text" id="nombreReceta" placeholder="Nombre de la Receta" required oninput="this.value = this.value.toUpperCase();">
                <input type="text" id="descripcion" placeholder="Descripción" required>
                <input type="url" id="linkReceta" placeholder="Enlace a YouTube" required>
                <h3>Imagen: <input type="file" id="imagenReceta" accept="image/*" required></h3>
                <input type="hidden" id="editarRecetaId">
                <button type="submit" id="agregarRecetaBtn" class="btn-page-largo-red">+ Agregar</button>
                <div class="botones">
                    <button type="button" id="actualizarRecetaBtn" class="btn-page-corto-red" onclick="actualizarReceta()" style="display:none;" class="boton">Actualizar</button>
                    <button type="button" id="cancelarEdicionRecetaBtn" class="btn-page-corto-red" onclick="resetFormReceta()" style="display:none;" class="boton">Cancelar</button>
                </div>
                <div class="loadingScreen2">
                    <img src="./img/img-iconos/21-18-05-265_512.webp" alt="">
                </div>
            </form>
        </div>
    </div>
    <!-- Sección cambiar contrseña -->
    <div class="db-contraseña">
        <form id="edit-password-form" class="formContraseña">
            <h1>Cambiar contraseña</h1>
            <input type="text" id="username" name="username" placeholder="Usuario" required>
            <input type="password" id="current-password" name="current-password" placeholder="Contraseña actual" required>
            <input type="password" id="new-password" name="new-password" placeholder="Nueva contraseña" required>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmar nueva contraseña" required>
            <button class="btn-page-largo-red" onclick="editarContraseña()">Actualizar</button>
            <div class="alertas">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                </svg>
                <p id="feedback-message"></p>
            </div>
        </form>
    </div>
</div>
<!-- Sección anuncio emergenete -->
<div class="anuncio">
    <h1 class="titulo-anuncio">TITULO</h1>
    <p class="mensaje-anuncio">Mensaje</p>
    <div class="botones boton-anuncio">
        <button class="btn-page-corto-red btn-anuncio">Si</button>
        <button class="btn-page-corto-red btn-anuncio">Cancelar</button>
    </div>
    <div id="loadingScreen">
        <img src="./img/img-iconos/21-18-05-265_512.webp" alt="">
    </div>
</div>
    <!-- Sección navbar Adm -->
<div class="navAdm">
    <button onclick="switchScreens('productos')" class="btnAcceso boton-con-tooltip" data-action="productos"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
        </svg>
        <p class="tooltip">Productos</p>
    </button>
    <button onclick="switchScreens('recetas')" class="btnAcceso boton-con-tooltip" data-action="recetas"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt" viewBox="0 0 16 16">
        <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27m.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0z"/>
        <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5"/>
        </svg>
        <p class="tooltip">Recetas</p>
    </button>
    <button onclick="switchScreens('contraseña')" class="btnAcceso boton-con-tooltip" data-action="contraseña"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg>
        <p class="tooltip">Contraseña</p>
    </button>
    <!-- Sección cerrar sesion -->
    <button id="cerrarSesion" type="button" onclick="anuncio('cerrarSesion', 1, 1, 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
        </svg>
        <p class="tooltip">Cerrar sesión</p>
    </button>
</div>

<script src="./js/index.js" defer></script>
<script src="./js/adm.js"></script>
<script src="./js/header.js"></script>

