<%- include("./Partials/header.ejs") %>    
<div class="seccionInicio seccion">
    <div class="inicio">
        <div class="texto">
            <h1>"Da sabor a la vida con nuestros condimentos. ¡Descubre el secreto detrás de cada delicioso plato!"</h1>
            <p>Más de 50 productos: condimentos, ajíes, especias y hierbas aromáticas. </p>
            <div class="botonesInicio">
                <a class="botonPage" href="./catalogo.pdf" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-fill" viewBox="0 0 16 16">
                    <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z"/>
                    <path d="M3.5 1h.585A1.5 1.5 0 0 0 4 1.5V2a1.5 1.5 0 0 0 1.5 1.5h5A1.5 1.5 0 0 0 12 2v-.5q-.001-.264-.085-.5h.585A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1"/>
                  </svg>CATÁLOGO</a>
                <button class="botonPage" onclick="contacto()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                  </svg>CONTACTO</button>
            </div>
        </div>
    </div>
    <div class="inicioProductos">
        <img src="./Imagenes2/imgInicio/Imagen1Inicio.webp" class="imagen1 slide-in from-left">
        <div class="texto1 slide-in from-right">
            <h1>NUESTROS PRODUCTOS</h1>
            <p>"Deja que nuestros condimentos transformen tus platos simples en obras maestras culinarias. ¡Haz de cada comida una experiencia extraordinaria!"</p>
            <a class="botonPage" href="/productos" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus-fill" viewBox="0 0 16 16">
                <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0"/>
              </svg>MÁS PRODUCTOS</a>
        </div>
    </div>
    <div class="inicioNosotros">
        <img src="./Imagenes2/imgInicio/imagen2Inicio.webp" alt="" class="imagen1 slide-in from-right">
        <div class="texto1 slide-in from-left">
            <h1>NOSOTROS</h1>
            <p>"Nosotros somos la esencia de la cocina boliviana en cada frasco. Con nuestros condimentos, llevamos el auténtico sabor de Bolivia a tu mesa. Desde los sabores tradicionales hasta las creaciones más innovadoras, cada bocado es un viaje a través de nuestra rica herencia culinaria. Únete a nosotros y descubre cómo nuestras especias transforman tus platos en experiencias inolvidables, elevando tu cocina a nivel nacional."
            </p>
            <a class="botonPage" href="/nosotros" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
              </svg>MÁS DE NOSOTROS</a>
        </div>
    </div>
</div>
<%- include("./Partials/footer.ejs") %> 
    