<%- include('partials/header') %> <!-- Si tienes un encabezado -->
<body>
    <h1 style="font-size: 50px; color: red;">Estamos en mantenimiento</h1>
    <p style="font-size: 20px;">Volveremos pronto. Gracias por tu paciencia.</p>
</body>
<%- include('partials/footer') %> <!-- Si tienes un pie de página -->
