<%- include("./Partials/header.ejs") %>    
<div class="seccion-nosotros seccion">   
    <h1 class="titulo-seccion">Somos <span>damabrava</span></h1>
    <div class="historia">
        <img src="./img/img-nosotros/historia2-nosotros.webp" alt="">
        <div class="texto">
            <h1>HISTORIA</h1>
            <p>La historia de DamaBrava inicia con nuestra abuelita “Amapolita”, originaria de Sucre, quien a sus 60 años de edad, luchaba por su libertad personal y financiera a través de la adquisición de molinos de ají. <br><br>Posteriormente, siguió este camino nuestro papá y, actualmente nosotros, con el sueño de que este emprendimiento crezca, decidimos dar el salto de ser “molineros” a “empresa industrial y comercializadora de especias y condimentos”, automatizando y trabajando en cada detalle para garantizar la calidad de nuestros productos, siempre con la meta de mejorar. <br><br>
            </p>
            <p class="span">DamaBrava es una empresa boliviana especialista en el rubro del ají. Nos dedicamos al procesamiento industrial de condimentos, especias, plantas aromáticas y ajíes.</p>
        </div>
    </div>
    
    <div class="mision-vision">
        <img src="./img/img-nosotros/misonvisoon-nosotros.webp" alt="" >
        <div class="texto">
            <div class="mision">
                <h1>MISIÓN</h1>
                <p>Brindar excelentes sabores tradicionales de especias y condimentos. Trabajamos para mejorar la calidad de nuestros productos, que marquen la diferencia, contribuyendo a la calidad de vida, a un futuro más saludable y al desarrollo del país.</p>
            </div>
            <div class="vision">
                <h1>VISIÓN</h1>
                <p>Ser una empresa líder en el procesamiento y comercialización de especias y condimentos para la industria alimentaria, ofreciendo productos y servicios de alta calidad para diferentes mercados, que satisfagan las necesidades de los clientes, marcando la diferencia en sus vidas. Lograr ser líderes en el mercado nacional y referentes a nivel mundial.</p>
            </div>
        </div>
    </div>
    
    <div class="valores">
        <img src="./img/img-nosotros/valores-nosotros.webp" alt="">
        <div class="texto">
            <h1>VALORES</h1>
            <ol>
                <li>Compromiso</li>
                <li>Trabajo en equipo</li>
                <li>Honestidad</li>
            </ol>
        </div>
    </div>
    
</div>
<%- include("./Partials/footer.ejs") %> 