<%- include("./Partials/header.ejs") %>
    <div class="carritoBoton" id="accionBoton"></div>
        <button class="fondoBotonCarrito" id="accionBoton2"  onclick="botonCarrito()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
              </svg>
        </button>  
    </div>
    </>    
    <div class="seccionProductos seccion">  
        <h1 class="tituloProductos">PRODUCTOS</h1>
        <div class="buscador">
            <div class="cuadroBuscar">
                <input type="text" class="cuadroBusqueda" placeholder="PRODUCTOS" id="busquedaInput">
                <button class="botones" id="buscarButton" onclick="botonBuscar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
                <span class="clearBoton">x</span>
                <div class="filtrosLista" id="nombresProductos"></div>
            </div>
        </div>
        <div id="productos-container"></div> <!-- Eliminar producto vacío aquí -->
    </div>
    <div class="carrito div-animado">
        <div class="tituloCompra">
            <h1>Mi carrito</h1>
            <button class="cerrarCompra" onclick="botonCarrito()">-</button>
        </div>
        <hr style="width: 100%">
        <div class="compra">
            <!-- se ponen los productos al carrito -->
        </div>
        <hr style="width: 100%">
        <div class="subtotal">
            <p>Subtotal:</p>
            <p class="subtotalPrecio">Bs/0</p>
        </div>
        <hr class="lineaSub">
        <div class="botonesCompra">
            <button class="botonComprar">Adquirir ahora!</button>
        </div>
    </div>
    <div class="contador" id="accionBoton3">
        <span id="contador">0</span>
    </div>
<%- include("./Partials/footer.ejs") %>
    