<%- include("./Partials/header.ejs") %>
    <div class="seccion-productos seccion"> 
<!-- *********************SECCION TITULOS Y BUSCADOR --> 
        <h1 class="titulo-seccion">Productos <span>damabrava</span></h1>
        <div class="buscador" id="seccion-buscar-productos">
            <div class="buscador-botones">
                <input type="text" class="cuadroBusqueda" placeholder="Buscar" id="busquedaInput"> 
                <button onclick="filtrarPorTexto()" class="btn-buscar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
                <button onclick="borrarInput()" class="btn-borrar-input"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
                </button>
            </div>
            <div class="filtros-carrito">
                <button class="filtro" onclick="todosProductos()">Todos</button>
                <button class="filtro" onclick="enterosProductos()">Enteros</button>
                <button class="filtro" onclick="molidosProductos()">Molidos</button>
                <button onclick="activarBorroso()" class="btn-carrito"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg><p class="contador-carrito" id="contador">0</p></button>
            </div>
            <div id="sugerencias"></div>
        </div>
<!-- *********************SECCION PRODUCTOS MOSTRAR -->
        <div class="productos2">
            <div class="carrusel-2">
                <div class="carrusel-inner" id="productos">
                </div>
            </div>
            <div class="botones">
                <button id="prevBtn" class="btn-page-corto-red"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg></button>
                  <div id="paginacion" class="paginacion-botones"></div>
                <button id="nextBtn" class="btn-page-corto-red"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></button>
            </div>
        </div>
        <p class="mensaje-no" style="display: none;">"No encontramos productos que se ajusten a tu búsqueda. ¿Qué tal si intentas otra búsqueda?"</>
<!-- *********************SECCION CARRITO DE PEDIDOS -->
        <div class="carrito" id="carrito">
            <div class="titulo">
                <h1>Mi carrito</h1>
                <button class="cerrar" onclick="activarBorroso()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg></button>
            </div>
            <hr style="width: 100%">
            <div class="compra">
            </div>
            <div class="caja-final-carrito">
                <hr style="width: 100%">
                <div class="subtotal-caja">
                    <p>Subtotal:</p>
                    <p class="subtotal">Bs/0</p>
                </div>
                <hr style="width: 100%">
                <div class="botones">
                    <button class="btn-pedido">¡Hacer pedido!</button>
                </div>
            </div>
        </div>
    </div>
<%- include("./Partials/footer.ejs") %>
    