<%- include("./Partials/header.ejs") %>    
<div class="seccionRecetas seccion">
    <h1 class="tituloRecetas">RECETAS</h1>
    <div id="recetasPrincipal" class="recetas"></div>
</div>
<%- include("./Partials/footer.ejs") %>
