<%- include("./Partials/header.ejs") %>    
<div class="seccion-recetas seccion">
    <!-- *********************SECCION TITULOS Y BUSCADOR --> 
    <h1 class="titulo-seccion">Recetas <span>damabrava</span></h1>
    <div class="buscador" id="seccion-buscar-recetas">
        <div class="buscador-botones">
            <input type="text" class="cuadroBusqueda" placeholder="Buscar" id="busquedaInput2"> 
            <button onclick="filtrarPorTexto2()" class="btn-buscar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg></button>
            <button onclick="borrarInput2()" class="btn-borrar-input"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </button>
        </div>
        <div class="filtros-carrito">
            <button class="filtro" onclick="todosRecetas()">Todos</button>
        </div>
    </div>
    <div id="sugerencias2"></div>
    <!-- *********************SECCION PRODUCTOS MOSTRAR -->
        <div class="recetas2">
            <div class="carrusel-3">
                <div class="carrusel-inner2" id="recetas">
                </div>
            </div>
            <div class="botones">
                <button id="prevBtn3" class="btn-page-corto-red"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg></button>
                  <div id="pageButtons"></div>
                <button id="nextBtn3" class="btn-page-corto-red"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg></button>
            </div>
        </div>
        <h1 class="mensaje-no-recetas" style="display: none;">"No encontramos recetas que se ajusten a tu búsqueda. ¿Qué tal si intentas otra búsqueda?"</h1>
</div>
<%- include("./Partials/footer.ejs") %>
