.db-administrador{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 65px;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}
.db-administrador input{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px;
}
.db-administrador input:focus{
    border: 2px solid red;
    outline: none;
}
.db-administrador p{
    font-size: 15px;
}
/*********************ESTILOS NAVBAR ADMINISTRADOR*/
.navAdm{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(38, 38, 38);
    border: 1px solid black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.navAdm button{
    border: none;
    background: none;
    padding: 10px;
    color: white;
}
.navAdm button p{
    font-size: 12px;
}
/**************************ESTILOS VER LOS PRODUCTOS*/
.db-productos, .db-recetas{
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.db-productos .info-productos, .db-recetas .info-recetas{
    width: 90vw;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-block: 20px;
    position: relative;
}
.info-productos .buscador, .info-recetas .buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
}
.info-productos .titulos-consulta, .info-recetas .titulos-consulta{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(128, 128, 128, 0.419);
    padding: 10px;
    border-radius: 20px;
}
.info-productos #productList, .info-recetas #recetaList{
    border: 1px solid rgba(128, 128, 128, 0.419);
    padding: 10px;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
}
.info-productos #productList .producto-adm, .info-recetas #recetaList .receta-adm{
    display: flex;
    width: 100% !important;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.205);
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
}
.info-recetas #recetaList .receta-adm .descripcion{
    height: 30px;
    width: 80px;
    overflow: hidden;
}
.info-productos #productList .producto-adm button, .info-recetas #recetaList .receta-adm button{
    background: none;
    border: none;
    color: rgba(128, 128, 128, 0.708);
}
.info-productos #productList .producto-adm:hover, .info-recetas #recetaList .receta-adm:hover{
    background-color: rgba(128, 128, 128, 0.299);
}
.info-productos #productList .producto-adm p,.info-productos #productList .producto-adm , .info-productos #productList .producto-adm a, .info-productos #productList .producto-adm .acciones{
    width: 9vw;
}
.info-recetas #recetaList .receta-adm p, .info-recetas #recetaList .receta-adm a, .info-recetas #recetaList .receta-adm .acciones{
    width: 13vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.info-recetas #recetaList .receta-adm a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-productos #productList .producto-adm .acciones, .info-recetas #recetaList .receta-adm .acciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info-productos #productList .producto-adm .precio, .info-productos #productList .producto-adm .gramaje, .info-productos #productList .producto-adm .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
/**************************ESTILOS FORMULARIO DE AGREGAR O ACTUALIZAR PRODUCTO*/
#productForm, #recetaForm{
    position: absolute;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    z-index: 1;
}
#productForm .titulo, #recetaForm .titulo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#productForm .titulo h1, #recetaForm .titulo h1{
    margin: 0;
}
#productForm .titulo button, #recetaForm .titulo button{
    background: none;
    border: none;
    width: auto;
    height: auto;
}
#productForm .titulo button svg, #recetaForm .titulo button svg{
    width: 30px;
    height: 30px;
}
#productForm input, #recetaForm input{
    width: 100%;
}
#productForm .botones, #recetaForm .botones{
    display: flex;
    gap: 10px;
}
#productForm .botones button, #recetaForm .botones button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingScreen2 img{
    width: 50px;
    height: 50px;
}
.loadingScreen2{
    display: none;
}
.loadingScreen3 img{
    width: 50px;
    height: 50px;
}
.loadingScreen3{
    display: none;
}
/**************************ESTILOS ANIMACION DE APARICION DE FORMULARIOS PARA AGREGAR*/
.fade-element {
    opacity: 0;
    display: none;
    transform: scale(0.95);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 0;
  }
  
.fade-element.visible {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transform: scale(1);
  }
/**************************ESTILOS DEL FORMULARIO DE CAMBIO CONTRASEÑA*/
.db-contraseña{
    width: 350px;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones */
    gap: 10px;
    margin-top: 50px;
}
.db-contraseña form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.db-contraseña input{
    width: 100%;
}
.db-contraseña h1{
    margin: 10px;
    font-size: 30px;
}
/**************************ESTILOS EL ANUNCIO DE CONFIRMACION*/
.anuncio{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 400px;
    background-color: white;
}
.anuncio h1{
    margin: 10px;
    text-align: center;
}
.anuncio p{
    text-align: center;
}
.anuncio .botones{
    display: flex;
    gap: 10px;
}
.anuncio img{
    width: 50px;
    height: 50px;
}
.anuncio #loadingScreen{
    display: none;
}
.alertas{
    color: red;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alertas p{
    font-size: 12px !important;
}





.texto-pequeño {
    display: none;
    font-size: 20px;
}
.texto-grande {
    display: inline;
    font-size: 20px;
}

@media (max-width: 950px){
    .info-productos #productList .producto-adm p,.info-productos #productList .producto-adm , .info-productos #productList .producto-adm a, .info-productos #productList .producto-adm .acciones{
        width: 9vw;
        font-size: 10px;
    }
    .info-recetas #recetaList .receta-adm p, .info-recetas #recetaList .receta-adm a, .info-recetas #recetaList .receta-adm .acciones{
        width: 13vw;
        font-size: 10px;
    }
    .info-productos .buscador button, .info-recetas .buscador button{
        width: 40px;
        height: 40px;
    }
    .texto-pequeño {
        display: inline;
    }
    .texto-grande {
        display: none;
    }
}
