.seccion-recetas{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 65px;
    margin-bottom: 20px;
}
.seccion-recetas svg{
    width: 25px;
    height: 25px;
}
/*----------------------------ESTILOS DE LA SECCION BUSCADOR*/
.seccion-recetas .buscador {
    display: flex;
    flex-direction: row;
    margin: 15px;
    margin-left: 10vw;
    justify-content: left;
    align-items: center;
    gap: 10px;
    position: relative;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}
.buscador.fixed {
    position: fixed;
    top: 30px;
    left: -153px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 1vw;
    padding-left: 10vw;
    width: 100%;
    transform: translateY(20px);
    opacity: 1;
}
.seccion-recetas .buscador .btn-buscar.fixed, .seccion-recetas .buscador .btn-borrar-input.fixed{
    top: 23px;
    left: 410px;
}
.seccion-recetas .filtro{
    width: 93px;
    height: 40px;
    background: none;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 15px;
    color: rgb(39, 39, 39);
    transition: background-color 0.5s ease;
    margin-right: 5px;
}
.seccion-recetas .filtro:hover{
    color: white;
    background-color: rgb(39, 39, 39);
}
.seccion-recetas .buscador span{
    position: absolute;
    top: 11px;
    left: 18vw;
    font-size: 25px;
    color: gray;
}
.seccion-recetas #sugerencias2{
    display: none;
    flex-direction: column;
    justify-content: left !important;
    align-items: left !important;
    position: absolute;
    top: 190px;
    left: 180px;
    width: 200px;
    height: auto;
    max-height: 500px;
    padding: 10px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.buscador.fixed #sugerencias2{
    top: 70px;
}
.seccion-recetas #sugerencias2 p{
    text-align: left;
    z-index: 9;
    font-weight: normal;
    padding: 5px;
    border-bottom: 1px solid rgb(198, 198, 198);
    cursor: pointer;
}
.seccion-recetas #sugerencias2 p:hover{
    background-color: rgba(210, 210, 210, 0.533);
}
.seccion-recetas .buscador .btn-buscar, .seccion-recetas .btn-borrar-input{
    background: none;
    border: none;
    position: absolute;
    top: 7px;
    left: 260px;
}
.seccion-recetas .btn-borrar-input{
    display: none;
}
.seccion-recetas .buscador button svg{
    color: gray;
}
.seccion-recetas .buscador button:hover svg {
    fill: red;
}
.seccion-recetas .buscador input::placeholder{
    font-size: 17px;
}
.seccion-recetas input{
    width: 300px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: border-color 0.3s;
    outline: none;
    z-index: 0;
}
.seccion-recetas #busquedaInput:focus{
    border: 2px solid red;
}
/*----------------------------ESTILOS DE LA SECCION PRODUCTOS MOSTRAR*/
.seccion-recetas #recetas{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-inline: 11vw;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 3vw;
}
.recetas2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrusel-3 {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}
.carrusel-inner2 {
    display: flex;
    transition: transform 0.5s ease;
}
.pagina2 {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
#recetas .receta{
    display: flex;
    width: 25vw;
    height: 15vw;
    border: 1px solid rgb(196, 196, 196);
    width: calc(50% - 30px);
    border-radius: 30px;
    overflow: hidden;
}
#recetas .receta img{
    height: 15vw;
    width: 15vw;
}
#recetas .receta:hover {
    border-color: red;
}
#recetas .receta .texto-receta{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#recetas .receta .texto-receta .nombre-receta{
    font-weight: bold;
    font-size: 1.5vw;
}
.recetas2 .botones{
    display: flex;
    margin: 2vw;
    gap: 1vw;
}
.recetas2 .botones button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: none;
    color: rgb(46, 46, 46);
}
.disabled {
    color: #9292927e !important; /* Color del texto más claro */
    cursor: not-allowed; /* Cambiar cursor a no permitido */
    pointer-events: none; /* Deshabilitar clics */
    opacity: 0.7; /* Hacerlo un poco transparente */
}
.page-btn {
    margin: 0 5px;
    padding: 5px 10px;
    background-color:white !important ;
    color: red !important;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

.page-btn.active {
    background-color: red !important;
    color: white !important;
}

.page-btn:hover {
    background-color: red !important;
    color: white !important;
}
.mensaje-no-recetas{
    text-align: center;
    padding: 4vw;
    font-size: 2vw;
    color: rgb(39, 39, 39);
}


