<%- include("./Partials/header.ejs") %>    
    
    <div class="Seccion1inicio">
        <div class="textoseccion1">
            <h1 class="textoPrincipal">"Da sabor a la vida con nuestros condimentos. Descubre el secreto detras de cada delicioso plato!"</h1>
            <h4 class="textoSecundario">Mas de 50 productos: condimentos, ajies, especias y hierbas aromaticas.</h4>
        <div class="botones">
            <button>Contactanos</button>
            <button>Ver Catálogo</button>
        </div>
        </div>
        <div class="imagenPrincipal">
            <img class="principalImagen" src="./Imagenes/Imagen Principal.jpeg" alt="">
        </div>
    </div>
    <div class="Eslogan">
        <h1>Con <span>damabrava</span><br> todo es mas rico!</h1>
    </div>
    <div class="Seccion2inicio">
        <div class="textoseccion2">
            <h1>NUESTROS <br>PRODUCTOS</h1>
            <p>"Deja que nuestros condimentos <br> transformen tus platos simples en <br>obras maestras culinarias. Haz de <br>cada comida una experiencia <br>extraordinaria"</p>
            <button>Todos los Productos</button>
        </div>
        <div class="ProductosPrevios">
            <div class="productoinicio">
                <img src="./Imagenes/Producto 1.png" alt="">
                <P>AJI ROJO</P>
            </div>
            <div class="productoinicio">
                <img src="./Imagenes/Producto 1.png" alt="">
                <P>AJI ROJO</P>
            </div>
            <div class="productoinicio">
                <img src="./Imagenes/Producto 1.png" alt="">
                <P>AJI ROJO</P>
            </div>
            <div class="productoinicio">
                <img src="./Imagenes/Producto 1.png" alt="">
                <P>AJI ROJO</P>
            </div>
        </div>
    </div>
    <div class="Seccion3inicio">
        <div class="imagenseccion3">
            <img src="./Imagenes/Portada2 dama brava.png" alt="">
        </div>
        <div class="textoseccion3">
            <h1>NOSOTROS</h1>
            <p>"Somos la esencia de la cocina boliviana en cada frasco. Con nuestros condimentos, llevamos el autentico sabor de Bolivia a tu mesa. desde los sabores tradicionales hasta las creaciones mas innovadoras, cada vocado es un viaje a traves de nuestra rica herencia culinaria. Unete a nosotros y descubre como nuestras especias transforman tus platos en experienciaas inolvidables, elevando tu cocina al nivel nacional."</p>
            <a href="/nosotros">Más de Nosotros</a>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var sections = document.querySelectorAll(".Eslogan, .Seccion2inicio, .Seccion3inicio, .Seccion1inicio");
            function showOnScroll() {
                for (var i = 0; i < sections.length; i++) {
                    var section = sections[i];
                    var positionFromTop = section.getBoundingClientRect().top;
                    var windowHeight = window.innerHeight;
                    if (positionFromTop - windowHeight <= 0) {
                        section.classList.add("show");
                    }
                }
            }
            window.addEventListener("scroll", showOnScroll);
            window.dispatchEvent(new Event("scroll")); // Mostrar las secciones visibles inicialmente
        });
    </script>
    <%- include("./Partials/footer.ejs") %> 
    